{% extends 'base.html' %}

{% block content %}
<div class="container">

	<!-- MEDIUM+ SCREENS -->
	<div class="main d-none d-md-flex flex-column">
		<div class="card p-4 align-items-start">
			<h3>Welcome to Idle Talk!</h3>
			<p><i>It is developed by Akshit Agarwal (an amatuer Backend Devloper)</i></p>
			
		</div>

		{% include 'public_chat/snippets/public_chat_room.html' with room_id=room_id %}


	</div>
	<!-- END MEDIUM+ SCREENS -->
	
	<!-- SMALL SCREENS -->
	<div class="d-block d-md-none p-1">
		<div class="card p-1 align-items-start">
			<h3>Welcome to Idle Talk!</h3>
			<p><i>It is developed by Akshit Agarwal (an amatuer Backend Devloper)</i></p>
			
		</div>

		{% include 'public_chat/snippets/public_chat_room.html' with room_id=room_id %}

	</div>
	<!-- END SMALL SCREENS -->
</div>


{% endblock content %}
