<style type="text/css">
	head{
		font-family: "Segoe UI";
		font-weight: 380;
	}
	footer{
		font-family: "Segoe UI";
		font-weight: 380;
	}
	body{
		background-color: #f2f2f2;
		font-family: "Segoe UI";
		font-weight: 380;
	}

	:root{
		--main-background-color: #f2f2f2;
		--dark-background-color: #a2a2a2;
		--secondary-text-color: #808080;
		--light-primary-text-color: #0080ff;
	}
	.navbar-custom{
		background-color: #344955;
	}
	.search-custom{
		background-color: #6d91a6;
		border-color:#6d91a6 ;
		
	}
	.card{
		background-color:#cedae1;
	}
	.chat-log {
	
	background-color:#6d91a6;

}

</style>